@using Membership.Models
@model PagerModel
<div>
    <ul>
        <li class="paging">
            @if (Model.CurrentPage == 1)
            {
                <span class="no-cursor">First</span>
            }
            else
            {
                <a onclick="@string.Format(" GoToPage({0},{1})", 1, Model.RecordPerPage)">First</a>
            }
        </li>

        <li class="paging">
            @if (Model.CurrentPage == 1)
            {
                <span class="no-cursor">Prev</span>
            }
            else
            {
                <a onclick="@string.Format(" GoToPage({0},{1})", (Model.CurrentPage - 1), Model.RecordPerPage)">Prev</a>
            }
        </li>
        <li class="paging">
            <b>Page @Model.CurrentPage of @Model.TotalPages</b>
        </li>

        <li class="paging">
            @{
                string optionDisable = "";
                var size = new int[] { 10, 20, 50, 100 };
            }
            <select onchange="@string.Format(" GoToPage({0},{1})",1,"$(this).val()")">
                <option value="0">All</option>
                @for (int i = 0; i < size.Length; i++)
                {
                    if (size[i] < Model.TotalRecords)
                    {
                        optionDisable = "";
                    }
                    else
                    {
                        optionDisable = "disabled=\"disabled\"";
                    }

                    if (size[i] == Model.RecordPerPage)
                    {
                        <option value="@size[i]" selected="selected" @optionDisable>@size[i]</option>
                    }
                    else
                    {
                        //if (!Enumerable.Range(pindex - 1 < 0 ? 0 : pageSize[(pindex - 1) < 0 ? 0 : pindex - 1], pageSize[((pindex + 1) >= pageSize.Length) ? pageSize.Length - 1 : pindex + 1]).Contains(Model.TotalRecords))
                        //{
                        //    opt_disabled = "disabled=\"disabled\"";
                        //}
                        //else
                        //{
                        //    opt_disabled = "";
                        //}
                        <option value="@size[i]" @optionDisable>@size[i]</option>

                    }
                }
            </select>
        </li>

        <li class="paging">
            @if (Model.TotalPages == Model.CurrentPage)
            {
                <span class="no-cursor">Next</span>
            }
            else
            {
                <a onclick="@string.Format(" GoToPage({0},{1})", (Model.CurrentPage + 1), Model.RecordPerPage)">Next</a>
            }
        </li>
        <li class="paging">
            @if (Model.CurrentPage == Model.TotalPages)
            {
                <span class="no-cursor">Last</span>
            }
            else
            {
                <a onclick="@string.Format(" GoToPage({0},{1})", Model.TotalPages, Model.RecordPerPage)">Last</a>
            }
        </li>
    </ul>
</div>
