@using Membership.Models
@model BlogModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Blog</h2>
@using (Html.BeginForm("Create", "Blog", FormMethod.Post))
{
    @Html.AntiForgeryToken();
    <div class="row form-group">
        <div class="col-md-4">
            @Html.LabelFor(x => x.Id)
            @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Id)
        </div>
        <div class="col-md-4">
            @Html.LabelFor(x => x.Title)
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Title)
        </div>

        <div class="col-md-4">
            @Html.LabelFor(x => x.Author)
            @Html.TextBoxFor(x => x.Author, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Author)
        </div>

        <div class="col-md-4">
            @Html.LabelFor(x => x.Rating)
            @Html.TextBoxFor(x => x.Rating, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Rating)
        </div>
    </div>

    <input type="submit" value="Create" />
}
