@using Membership.Helper
@using Membership.Models
@model LoginModel
@{
    ViewBag.Title = "Login";
}
<h2>@ViewBag.Title.</h2>

@if (!string.IsNullOrEmpty(Model.Login))
{
    <span class="text-danger">Invalid Login</span>
}
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl },
                FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary()

    <div>
        @Html.LabelFor(x => x.Username)
        @Html.TextBoxFor(x => x.Username)
    </div>
    <br />

    <div>
        @Html.LabelFor(x => x.Password)
        @Html.PasswordFor(x => x.Password, new { @class = "showCredentials" })
        <i class="fa fa-eye" id="ShowHide" aria-hidden="true"></i>
    </div>
    <br />

    <div class="form-group">
        @Html.CaptchaHelper()
        @Html.InvalidGoogleCaptchMessage("Captcha is not valid !")
    </div>
    <br />

    <input type="submit" value="Login" />
}
